/* MEDIA QUERIES */
@custom-media --n only screen and (min-width: 320px);
@custom-media --s only screen and (min-width: 768px);
@custom-media --m only screen and (min-width: 1024px);
@custom-media --l only screen and (min-width: 1200px);
@custom-media --r only screen and (min-width: 1400px);

/* ================= */

:root {
  --primary-font: 'Arial';
  --primary-font-bold: 'Arial Bold';
  --primary-font-italic: 'Arial Italic';
  --primary-color: #fff;
  --meta-color: #000;
}
